# ENCODE downloads / big data (do NOT push)
**/data/bigWig.files/
**/data/bigBed.files/
**/data/fastq.files/

# Nextflow runtime stuff
**/work/
**/.nextflow*
**/pipeline.log.txt

# big genomics files (don't commit)
*.fastq
*.fastq.gz
*.fq.gz
*.bam
*.bai
*.bigWig
*.bigBed
*.bw
*.bb

# big annotation / references
*.gtf
*.gtf.gz
*.fa
*.fa.gz
*.fasta
*.fasta.gz

# common pipeline/runtime folders
work/
.nextflow*